*.o
myprogram
*.x
*.json
*.debug
libs/
obj/
python/__pycache__/
*.yaml
root/*
plots/*
*.root
*.err
*.out
runs/
scripts/submit_Regions.sh
*.nfs
config/FDpattern_cfgs/*
latex_tables
*_C.d
*_C.so
*_C_ACLiC*
notes.txt
